{% extends "adminPanel/dashboard_layout.html" %}
{% block content %}


<div class="container-fluid text-center " style="padding: 40px; padding-top: 0;">
    <div class="row">
        <div class="col" style="align-items: center; text-align: center; justify-content: center; align-items: center;">
            <br>
            <h5 class="card-title">Ultimos 3 Usuarios Registrados</h5>
            <br>
            <div class="d-flex justify-content-center flex-wrap">
                {% for usuario in usuarios %}
                <div class="card m-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{usuario.first_name}} {{usuario.last_name}}</h5>
                        <br>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Email : {{usuario.email}}</h6>
                        <p class="card-text">C.I : {{usuario.dni}}</p>


                    </div>
                </div>
                {%endfor%}

            </div>
        </div>

        <div class="col" style="align-items: center; text-align: center; justify-content: center;">
            <br>
            <h5> Ultimos 3 Provedores Registrados</h5>
            <br>
            <div class="d-flex justify-content-center flex-wrap">
                {% for provedor in provedores %}
                <div class="card m-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{provedor.provedor.first_name}} {{provedor.provedor.last_name}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{provedor.provedor.email}}</h6>
                        {% if provedor.provedor.is_superuser%}
                        <p class="card-text"> ROL > VETERINARIO </p>
                        {%else%}
                        <p class="card-text">RazonSocial : {{provedor.razonSocial}}</p>
                        <p class="card-text">RUT : {{provedor.rut}}</p>
                        <p class="card-text">{{provedor.telefono}}</p>
                        {%endif%}
                    </div>
                </div>

                {%endfor%}

            </div>
        </div>
        <br>
        <div class="col">
            <br>
            <h5>Ultimos 3 Productos Registrados</h5>
            <br>
            <div class="d-flex justify-content-center flex-wrap">
                {% for producto in productos %}
                <div class="card m-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{producto.nombre}} </h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{producto.categoria}}</h6>
                        <p class="card-text">$ {{producto.precio}}</p>
                        <p class="card-text">Cantidad : {{producto.cantidad}}</p>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col" style="align-items: center; text-align: center; justify-content: center; align-items: center;">
            <br>
            <h5 class="card-title">Proximas Reservas</h5>
            <br>
            <div class="d-flex justify-content-center flex-wrap">
                {% if appapproved %}
                {% for reserva in appapproved %}

                <div class="card m-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Reserva con {{reserva.user.first_name}} {{reserva.user.last_name}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{reserva.service}}</h6>
                        <p class="card-text">Horario de reserva : {{reserva.datetime_ordered}}</p>
                        <p class="card-text">{{reserva.comment}}</p>
                        <span>Solicitud realizada el día {{reserva.time_ordered}}</span>
                    </div>
                </div>



                {%endfor%}

                {%else%}
                <td>
                    <div class="alert alert-danger text-center"> No hay reservas por confirmar </div>
                </td>
                {%endif%}
            </div>
        </div>
        <div class="col" style="align-items: center; text-align: center; justify-content: center; align-items: center;">
            <br>
            <h5 class="card-title">Reservas por confirmar</h5>
            <br>
            <div class="d-flex justify-content-center flex-wrap">
                {% if appforapproved %}
                {% for reserva in appforapproved %}
                <div class="card m-2" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Reserva con {{reserva.user.first_name}} {{reserva.user.last_name}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{reserva.service}}</h6>
                        <p class="card-text">Horario de reserva : {{reserva.datetime_ordered}}</p>
                        <p class="card-text">{{reserva.comment}}</p>
                        <span>Solicitud realizada el día {{reserva.time_ordered}}</span>
                    </div>
                </div>
                {%endfor%}
                {%else%}
                <td>
                    <div class="alert alert-danger text-center"> No hay Proximas reservas </div>
                </td>
                {%endif%}
            </div>
        </div>
    </div>
</div>
{% endblock %}