<configuration>
  <system.webServer>
    <handlers>
      <add name="python" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\Python364x86\python.exe|D:\home\site\wwwroot\ptvs_virtualenv_proxy.py" resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Static Files">
          <action type="Rewrite" url="static/{R:0}" />
        </rule>
        <rule name="Configure Django">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True" />
          </conditions>
          <action type="Rewrite" url="django.wsgi" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>