<div class="accordion accordion-flush" id="accordionFlushExample"
    style=" margin-bottom: 45px; text-align: center; justify-content: center;">

    <!-- Next Appointments -->

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <span id="name">Siguientes Reservas</span>&nbsp&nbsp{% if count_approved != 0%}<span
                    class="btn btn-outline-success" id="count" role="alert">{{ count_approved}}
                </span>
                {%endif%}
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <div class="d-flex flex-wrap" style="align-items: center;padding: 25px; text-align: center;">
                    {% if appapproved %}
                    {% for appoint in appapproved %}


                    <div style="background-color: rgb(169, 170, 168); margin: 20px;">


                        <div class=" card" style="width: auto;margin: 8px;">


                            <div class="card-body">
                                <h5 class="card-title">Reserva de {{appoint.user}} | Servicio : {{appoint.service}} |
                                    Fecha de Reserva : {{appoint.datetime_ordered|date:"l d F Y"}}
                                    {{appoint.datetime_ordered|date:"g:i a"}}</h5>


                            </div>
                        </div>

                    </div>


                    {%endfor%}
                    {%else%}
                    <p>No hay siguientes reservas</p>
                    {% endif %}





                </div>
            </div>
        </div>
    </div>

    <!-- Appointments for Approve -->

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <span id="name">Reservas por aprobar</span>&nbsp&nbsp
                {% if count_forapproved != 0 %} <span class="btn btn-outline-warning" id="count" role="alert">
                    {{count_forapproved}}
                </span>{%endif%}
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">

                <div class="d-flex flex-wrap" style="align-items: center;padding: 25px; text-align: center; ">
                    {% if appforapproved %}
                    {% for appoint in appforapproved %}


                    <div style="background-color: rgb(151, 151, 151); margin: 20px;">

                        <div class=" card" style="width: auto;margin: 8px">


                            <div class="card-body">
                                <h5 class="card-title">Reserva de {{appoint.user}} | Servicio : {{appoint.service}} |
                                    Fecha de Reserva : {{appoint.datetime_ordered|date:"l d F Y"}}
                                    {{appoint.datetime_ordered|date:"g:i a"}}</h5>


                            </div>
                        </div>
                    </div>


                    {%endfor%}
                    {%else%}
                    <p>No hay reservas por aprobar</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <!-- Canceled Appointments -->

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed  " type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">

                <span id="name">Reservas Canceladas </span>&nbsp&nbsp{% if count_canceled != 0 %}
                <span id="count" class="btn btn-outline-danger " role="alert"> {{count_canceled}}
                </span>{%endif%}

            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">

                <div class="d-flex flex-wrap" style="align-items: center;padding: 25px; text-align: center;">
                    {% if appcanceled %}
                    {% for appoint in appcanceled %}

                    <div style="background-color: rgb(129, 128, 129); margin: 20px;">




                        <div class=" card" style="width: auto;margin: 8px;">


                            <div class="card-body">
                                <h5 class="card-title">Reserva de {{appoint.user}} | Servicio : {{appoint.service}} |
                                    Fecha de Reserva : {{appoint.datetime_ordered|date:"l d F Y"}}
                                    {{appoint.datetime_ordered|date:"g:i a"}}</h5>


                            </div>
                        </div>


                    </div>

                    {%endfor%}
                    {%else%}
                    <p>No hay reservas canceladas</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if appointments_pass %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree25">
            <button class="accordion-button collapsed  " type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree25" aria-expanded="false" aria-controls="flush-collapseThree">

                <span id="name">Reservas Pasadas </span>&nbsp&nbsp{% if passcount != 0 %}
                <span id="count" class="btn btn-outline-danger " role="alert"> {{passcount}}
                </span>{%endif%}

            </button>
        </h2>
        <div id="flush-collapseThree25" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">

                <div class="d-flex flex-wrap" style="align-items: center;padding: 25px; text-align: center;">

                    {% for appoint in appointments_pass %}

                    <div style="background-color: rgb(155, 155, 155); margin: 20px;">




                        <div class=" card" style="width: auto;margin: 8px;">


                            <div class="card-body">
                                <h5 class="card-title">Reserva de {{appoint.user}} | Servicio : {{appoint.service}} |
                                    Fecha de Reserva : {{appoint.datetime_ordered|date:"l d F Y"}}
                                    {{appoint.datetime_ordered|date:"g:i a"}}</h5>


                            </div>
                        </div>


                    </div>

                    {%endfor%}


                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>