<div class="alert alert-primary" role="alert">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="row" colspan="3" class="text-center">CARRITO</th>
            </tr>
            <tr>
                <th scope="col">NOMBRE</th>
                <th scope="col">PRECIO</th>
                <th scope="col">CANTIDAD</th>
            </tr>
        </thead>
        <tbody>
            {% if request.session.carrito.items %}
            {% for key, value in request.session.carrito.items %}
            <tr>
                <td>{{value.nombre}}</td>
                <td>{{value.precio}}</td>
                <td>{{value.cantidad}}
                    <a href="{% url 'agregar_producto' value.producto_id %}" class="badge btn btn-dark badge-dark">+</a>
                    <a href="{% url 'restar_producto' value.producto_id %}" class="badge btn btn-dark badge-dark">-</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">
                    <div class="alert alert-danger text-center"> Sin Productos </div>
                </td>
            </tr>
            {% endif %}
            <tr>
                <th scope="row">Total:</th>
                <td colspan="2">$ {{total_carrito}}</td>
            </tr>
        </tbody>
    </table>
    <hr>
</div>
<div class="row text-center">
    <div class="col-6"><a href="{% url 'clean_carrito' %}" class="btn btn-danger">Limpiar</a></div>
    <div class="col-6"><a style="margin: 5px;" href="{% url 'pago-paypal-carrito'  %}" class="btn btn-primary">
            Comprar con PAYPAL
        </a></div>
    <!-- <div class="col-4"><a type="button" id="checkout-button-carrito" style="margin: 5px;"
            class="btn btn-primary">Comprar con
            Tarjeta
        </a></div> -->
</div>

<!-- <script>
    var stripe = Stripe('{{stripe_publishable_key}}')
    var checkoutButton = document.getElementById("checkout-button-carrito")

    try {
        checkoutButton.addEventListener("click", function () {
            checkoutButton.innerHTML = "Processing <i class='fas fa-spinner fa-spin'></i>"
            var email = "{{request.user.email}}"
            fetch("/create-checkout-session-carrito/", {
                method: "POST",
                body: JSON.stringify({ email: email })
            })
                .then(function (response) {
                    console.log(response)
                    console.log(stripe)
                    return response.json()
                })
                .then(function (session) {
                    return stripe.redirectToCheckout({ sessionId: session.sessionId })
                })
                .then(function (result) {
                    if (result.error) {
                        alert(result.error.message)
                    }
                })
                .catch(function (error) {
                    console.log("error", error)
                })
        })
    }
    catch (error) {
        console.log(error)
    }


</script> -->