{% extends "layout.html" %}

{% block title %}Todos los productos{% endblock %}

{% block script %}
<script
    src="https://www.paypal.com/sdk/js?ARZ1th0GQG7fWDQlwkJCKoLdi1EQmRz30nBHUVuHH_cekCE3oIhcr6IXiK6svPzthqT62ewtnF1kOo-6=test&currency=USD"></script>
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block body %}
<div class="container text-center justify-content-center">
    <div class="row mt-3 justify-content-center">
        <div class="col-12 col-md-6 mb-4 text-center">
            <!-- Agregamos 'text-center' para centrar el contenido en dispositivos móviles -->
            {% for producto in productos %}
            <div id="productos" class="d-inline-block text-center">
                <!-- Agregamos 'd-inline-block' y 'text-center' para centrar el contenido en dispositivos móviles -->
                <img style="object-fit: cover; height: 220px; width: 220px;" src="{{ MEDIA_URL }}{{ producto.image.url }}" width="120px"
                    alt="">
                <div id="content">
                    <br>
                    <h2><a href="{% url 'productdetail' producto.idProducto%}"
                            style="text-decoration: none;">{{producto.nombre}}</a>
                    </h2><a href="{% url 'agregar_producto' producto.idProducto %}" class="btn btn-outline">+ 🛒</a>
                    <br>
                    <p style="background-color: beige;">{{producto.categoria}}</p>
                    <p>{{producto.descripcion}}</p>
                    <h4>Precio: $ {{producto.precio}}</h4>
                    <span>{{producto.date}}</span>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if request.user.is_authenticated %}
        <div class="col-12 col-md-6 mb-8 mt-4 pt-3" style="margin-bottom: 30px;">
            {% include "carrito.html" %}
        </div>
        {% endif %}
    </div>
</div>
<script>
    var stripe = Stripe('{{stripe_publishable_key}}')
    var checkoutButton = document.getElementById("carritocheckout-button")

    try {
        checkoutButton.addEventListener("click", function () {
            checkoutButton.innerHTML = "Processing <i class='fas fa-spinner fa-spin'></i>"
            var email = "{{request.user.email}}"
            fetch("/create-checkout-session-carrito", {
                method: "POST",
                body: JSON.stringify({ email: email })
            })
                .then(function (response) {
                    console.log(response)
                    console.log(stripe)
                    return response.json()
                })
                .then(function (session) {
                    return stripe.redirectToCheckout({ sessionId: session.sessionId })
                })
                .then(function (result) {
                    if (result.error) {
                        alert(result.error.message)
                    }
                })
                .catch(function (error) {
                    console.log("error", error)
                })
        })
    }
    catch (error) {
        console.log(error)
    }
</script>
{% endblock %}