{% extends "layout.html" %}

{% block title %}Todos los productos{% endblock %}


{% block body %}
<div class="container text-center justify-content-center">
    <div class="row mt-3 justify-content-center">
        <div class="col-12 col-md-6 mb-4 text-center">
            
            {% if productos %}
            {% for producto in productos %}
            <div id="productos" class="d-inline-block text-center">
                
                <img style="object-fit: cover; height: 220px; width: 220px;"
                    src="{% if producto.image %}{{ producto.image.url }}{% else %}https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg{% endif %}"
                    width="120px" alt="">
                <div id="content">
                    <br>
                    <h2><a href="{% url 'productdetail' producto.idProducto%}"
                            style="text-decoration: none;">{{producto.nombre}}</a>
                    </h2><a href="{% url 'agregar_producto' producto.idProducto %}" class="btn btn-outline">+ 🛒</a>
                    <br>
                    <p style="background-color: beige;">{{producto.categoria}}</p>
                    <p>{{producto.descripcion}}</p>
                    <h4>Precio: $ {{producto.precio}}</h4>
                    <span>{{producto.date}}</span>
                </div>
            </div>
            {% endfor %}

            {% endif %}
        </div>
        {% if request.user.is_authenticated %}
        <div class="col-12 col-md-6 mb-8 mt-4 pt-3" style="margin-bottom: 30px;">
            {% include "carrito.html" %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}