{% extends "dashboard.html" %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<div class="container">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
        Agregar Usuario
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel1">Agregar Usuario</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formUsuario" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            </br>
                            <input class="form-control" autofocus type="text" name="first_name" placeholder="Nombre"
                                required>
                        </div>
                        <div class="form-group">
                            </br>
                            <input class="form-control" autofocus type="text" name="last_name" placeholder="Apellido"
                                required>
                        </div>
                        <div class="form-group">
                            </br>
                            <input class="form-control" type="text" name="dni" placeholder="DNI" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="checkbox" id="veterinario" name="veterinario" value="veterinario">
                            Veterinario
                            <br>


                        </div>

                        <div class="form-group">
                            </br>
                            <input class="form-control" type="email" name="email" placeholder="Email Address" required>
                        </div>
                        <div class="form-group">
                            </br>
                            <input class="form-control" type="password" name="password" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            </br>
                            <input class="form-control" type="password" name="confirmation"
                                placeholder="Confirm Password" required>
                        </div>
                        </br>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Agregar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>





</div>


<br>

<div class="container">
    <h2> Lista de Usuarios </h2>
    <div class="provedoresList">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre y Apellido</th>
                    <th scope="col">email</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Eliminar Usuario</th>

                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr style="align-items: center; justify-content: center">
                    <td>{{usuario.first_name}} {{usuario.last_name}}</td>
                    <td>{{usuario.email}} </td>
                    {%if usuario.is_veterinario == True %}
                    <td>Veterinario </td>
                    {% elif usuario.is_provedor == True %}
                    <td>Provedor </td>
                    {% else %}
                    <td>User</td>
                    {%endif%}
                    <td>


                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#{{usuario.id}}">
                            Borrar
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="{{usuario.id}}" tabindex="-1" aria-labelledby="exampleModalLabel1"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel123">Eliminar Usuario</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Esta seguro que quiere eliminar a {{ usuario.first_name }} {{
                                            usuario.last_name }}?</p>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cerrar</button>

                                            <a href="{% url 'deleteuser' usuario.id %}" role="button" class="btn
                                                btn-secondary">Borrar </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>





                    </td>
                </tr>

                {%endfor%}

        </table>

    </div>
</div>

{% endblock %}